@keyframes ldio-5yd4qm49hxl {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.ldio-5yd4qm49hxl div {
  position: absolute;
  width: 120px;
  height: 120px;
  border: 20px solid #e15b64;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-5yd4qm49hxl div {
  animation: ldio-5yd4qm49hxl 1s linear infinite;
  top: 100px;
  left: 100px;
}
.loadingio-spinner-rolling-k9t67yml8v {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-5yd4qm49hxl {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-5yd4qm49hxl div {
  box-sizing: content-box;
}
